<h1>BikeWalkTN Hazard Reports</h1>

<%= form_for @report, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.select(:feed, options_for_select(Report::FEED)) %>
  <%= f.select(:incident_type, options_for_select(Report::INCIDENT_TYPE)) %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>